.profile__edit-button {
  background-image: url(../../../images/slesh.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 6px;
  align-self: center;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button  {
    width: 20px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}
