.form__close-button {
  background-image: url(../../../images/close.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .form__close-button {
    width: 20px;
    height: 20px;
    top: -37px;
    right: 0;
  }
}

.form__close-button:hover {
  opacity: 0.6;
}
